@font-face {
  font-family: "Game";
  src: url("../fonts/Early GameBoy.ttf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: #ffffff; 
    background-image: linear-gradient(to right, #e0e0e0 1px, transparent 1px),
                      linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
    background-size: 20px 20px; 
    background-position: center center;
    background-repeat: repeat;
  position: relative;
}


.cloud {
  position: absolute;
  width: 120px;
  height: 70px;
  background: radial-gradient(circle at 30% 30%, #ffffff, #e0e0e0);
  border-radius: 50%;
  opacity: 0.9;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  z-index: 2; 
}


.cloud::before,
.cloud::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  opacity: 0.9;
  background: radial-gradient(circle at 30% 30%, #ffffff, #e0e0e0);
}


.cloud1 {
  top: 50px;
  left: -150px;
  width: 120px;
  height: 70px;
  animation: moveRight 60s linear infinite;
}
.cloud1::before { width: 80px; height: 80px; top: -20px; left: 20px; }
.cloud1::after  { width: 60px; height: 60px; top: 10px; left: 70px; }

.cloud3 {
  top: 150px;
  left: -120px;
  width: 100px;
  height: 60px;
  animation: moveRight 50s linear infinite;
}
.cloud3::before { width: 70px; height: 70px; top: -20px; left: 15px; }
.cloud3::after  { width: 50px; height: 50px; top: 10px; left: 50px; }

.cloud2 {
  top: 200px;
  left: 100vw;
  width: 140px;
  height: 80px;
  animation: moveLeft 70s linear infinite;
}
.cloud2::before { width: 90px; height: 90px; top: -30px; left: 30px; }
.cloud2::after  { width: 70px; height: 70px; top: 20px; left: 80px; }

.cloud4 {
  top: 300px;
  left: 100vw;
  width: 110px;
  height: 70px;
  animation: moveLeft 80s linear infinite;
}
.cloud4::before { width: 80px; height: 80px; top: -20px; left: 20px; }
.cloud4::after  { width: 60px; height: 60px; top: 10px; left: 50px; }

@keyframes moveRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(120vw); }
}

@keyframes moveLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-120vw); }
}

.profile-card {
  width: 85%;
  height: 78vh;
  margin: 7% auto;
  font-family: "SUSE Mono", sans-serif;
  font-weight: 500;
  background: #e88a9c;
  border: 4px solid #680c24;         
  outline: 2px solid #f6b3bc;        
  border-radius: 6px;
  box-shadow: 6px 6px 0px #000;
}

.card-header {
  background: #d46b83;
  padding: 10px;
  text-align: center;
  border-bottom: 5px solid #a7435e;
  font-family: "Game";
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
  
}

.card-header h2 {
  font-size: 2.3rem;
  margin: 0;
  color: #fff;
}

.card-body {
  display: flex;
  position: relative;
}

.sprite {
  flex: 0 0 160px; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.pixel-avatar {
  width: 450px;        
  image-rendering: pixelated;
  margin-top: -14%;
}

/* kanan */
.info-wrapper {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  border-left: 5px solid #f6b3bc; 
  margin-bottom: 1.4%;
  z-index: 1; 
}

.info {
  flex: 1;
  padding: 6% 10%;
  font-size: 1.4rem;
  line-height: 1.5;
  color: black;
}

.social-icons-home {
  position: absolute;
  bottom: 15%;              
  left: 63%;                  
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;    
  height: auto;               
  margin: 0;                
  z-index: 10;               
}


.social-icons-home a {
  display: flex;        
  justify-content: center;
  align-items: center;
  width: 50px;                
  height: 50px;              
  background: #ffc5c5;          
  color: #680c24;
  font-size: 1.7rem;
  border-radius: 40%;         
  text-decoration: none;
  transition: background 0.3s; 
  border: 2px solid #680c24;         
  box-shadow: 3px 3px 0px #000;
  margin-top: 180%;
}

.social-icons-home a:hover {
  background: #680c24;     
  color: #ffc5c5;        
}


@media (max-width: 1200px) {
  .profile-card {
    width: 90%;
    height: auto;
  }

  .pixel-avatar {
    width: 400px;
    margin-top: -8%;
  }

  .sprite{
    padding: 0px;
  }

  .info {
    font-size: 1.4rem;
    padding: 5% 6%;
  }
  
  .social-icons-home{
    margin-left: 0%;
    top: -10%;
  }
}

@media (max-width: 992px) {
  .profile-card {
    margin-top: 10%;
    width: 90%;
  }

  .sprite {
    flex: 0 0 140px;
  }

  .pixel-avatar {
    width: 280px;
    margin-top: -5%;
  }

  .info {
    font-size: 1.1rem;
    padding: 4% 5%;
  }
  .social-icons-home{
    margin-left: -4%;
    top: -25%;
  }
  .social-icons-home a {
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .profile-card {
    margin-top: 15%;
    width: 90%;
  }
  
  .sprite {
    flex: 0 0 120px;
  }

  .pixel-avatar {
    width: 220px;
    margin-top: -3%;
  }

  .info {
    font-size: 0.86rem;
    line-height: 1.4;
    padding: 3% 4%;
  }

  .card-header h2 {
    font-size: 1.6rem;
  }

  .social-icons-home{
    margin-left: 2%;
    top: -35%;
  }

  .social-icons-home a {
    width: 35px;
    height: 35px;
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .profile-card {
    margin-top: 18%;
    width: 90%;
    border-width: 3px;
    outline-width: 1.5px;
    box-shadow: 4px 4px 0px #000;
  }

  .sprite {
    flex: 0 0 100px;
  }

  .pixel-avatar {
    width: 170px;
  }

  .info {
    font-size: 0.69rem;
    padding: 10px;
  }

  .card-header h2 {
    font-size: 1.4rem;
  }

  .social-icons-home a {
    width: 25px;
    height: 25px;
    font-size: 0.9rem;
  }
  .social-icons-home {
    margin-left: -3%;
    top: -45%;
  }
}

@media (max-width: 480px) {
  .profile-card {
    width: 85%;
    padding: 0px;
  }

  .sprite {
    flex: 0 0 80px;
    padding: 0px;
  }

  .pixel-avatar {
    width: 190px;
  }

  .info {
    font-size: 0.63rem;
    line-height: 1.3;
    padding: 8px;
  }

  .card-header h2 {
    font-size: 1.2rem;
  }

  .social-icons-home {
    gap: 10px;
    top: -10%;
    margin-left: 5%;
  }

  .social-icons-home a {
    width: 23px;
    height: 23px;
    font-size: 0.8rem;
  }
}