.retro-navbar {
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background: #f4e9d8;
  border: 2px solid #222;
  border-radius: 13px;
  padding: 10px 12px;
  font-family: "SUSE Mono", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: #222;
  box-shadow: 3px 3px 0px #000;
  z-index: 999;
}

/* menu kanan */
.nav-right {
  position: relative;
  font-weight: 300;
}

.nav-right ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-right li a {
  text-decoration: none;
  color: #222;
  transition: 0.2s;
}

.nav-right li a:hover {
  text-decoration: underline;
}

.nav-right li a.active {
  font-weight: 900;
  text-decoration: underline;
}

/* menu toggle hidden default */
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 992px) {
  .retro-navbar{
    font-size: 0.8rem;
    border-radius: 7px;
  }
}
/* ========= Responsive ========= */

/* Tablet kecil & mobile */
@media (max-width: 576px) {
  .retro-navbar{
    font-size: 0.9rem;
    border-radius: 7px;
  }
  .nav-right ul {
    display: none; /* sembunyikan menu default */
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 120%;
    background: #f4e9d8;
    border: 2px solid #222;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px 0px #000;
  }

  .nav-right ul.show {
    display: flex; /* tampilkan saat toggle */
  }

  .menu-toggle {
    display: block; /* tampilkan tombol ☰ */
  }
}

@media (max-width: 480px) {
  .retro-navbar {
    font-size: 0.9rem;
    padding: 8px 10px;
  }
  .nav-right ul {
    width: 150px;
  }
}